extends layout

block content
  h1= title
  p Welcome to #{title}
   p Name = #{username}
  p Firstname = #{firstname}
  p Lastname = #{lastname}
  p Email = #{email}
  p Password = #{password}
  p Contact = #{contact}
  p Confirm_Password = #{confirm_Password}
  